# Dependencias
node_modules/

# Build output
dist/

# Archivos locales de logs
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# Sistema operativo
.DS_Store
Thumbs.db

# Archivos de Vite / cache
.vite/

# Tus partials que se copian a public
public/partials/
